@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-main: #26485B;
  --color-main-light: #245673;

  --color-secondary: #BAA981;
  --color-secondary-light: #E8E0C4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--color-main);
  --color-secondary: var(--color-secondary);
  --color-main-light: var(--color-main-light);

  --color-secondary-light: var(--color-secondary-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body,
h1,
p,
h2,
h3,
h4,
h5,
h6,
div,
span {
  font-family: 'Montserrat' !important;
}

.bg-main {
  background-color: var(--color-main);
}

.bg-main-light {
  background-color: var(--color-main-light);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.text-main {
  color: var(--color-main);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.border-main {
  border-color: var(--color-main);
}

.border-secondary-light {
  border-color: var(--color-secondary-light);
}

.rdp-root {
  --rdp-accent-color: var(--color-main) !important;
  --rdp-selected-border: 8px 0px 0px 8px !important;
  --rdp-day_button-border-radius: 8px 0px 0px 8px !important;
  --rdp-day_button-border: 1px !important;


}

.rdp-month_caption {
  justify-content: center !important;
}

.rdp-nav {
  display: none !important;
}

@keyframes pathPulse {
  0% {
    stroke-width: 4px;
    opacity: 0.9;
  }

  100% {
    stroke-width: 6px;
    opacity: 1;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d0c29c;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.mask-video {
  -webkit-mask-image: url('/videos/mask.webp');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  mask-image: url('/videos/mask.webp');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}

input[type='number'].custom-number-input::-webkit-inner-spin-button,
input[type='number'].custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'].custom-number-input {
  -moz-appearance: textfield;
}

.rdp-weekday {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 12px;
  color: #7B827E;
  text-align: center;
}

.rdp-months {
  display: block;
}

.rdp-month {
  width: 100%;
}

@media (min-width: 768px) {
  .rdp-months {
    display: flex;
    gap: 4rem;
  }

  .rdp-month {
    width: auto;
  }
}

.rdp-table {
  table-layout: fixed;
  width: 100%;
}

.rdp-day {
  width: 100%;
  aspect-ratio: 1 / 1;
  text-align: center;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.rdp-day:not(.rdp-day_outside) {
  margin: 2px;
}

.rdp-month_grid {
  width: 100% !important;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.3s ease-in-out;
}
.slick-track {
  transition: transform 1.5s ease-in-out !important;
}
