@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";
/* Preline UI */

/* Plugins */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-main: #054E72;
  --color-main-light: #245673;

  --color-secondary: #BAA981;
  --color-secondary-light: #E8E0C4;

  /* Primary */
  --primary-1: #054E72;
  --primary-1-rgb: 5, 78, 114;
  --primary-100: #A6CFE0;
  --primary-200: #8CB9C8;
  --primary-300: #73A4AF;
  --primary-400: #618D98;
  --primary-500: #4D6B7A;
  --primary-600: #3A5A6B;
  --primary-700: #26485B;
  --primary-800: #13364B;
  --primary-900: #00253C;
  /* Secondary */
  --secondary-1: #BAA981;
  --secondary-100: #F9F4E6;
  --secondary-200: #F0E7D2;
  --secondary-300: #E6DABC;
  --secondary-400: #DBCCA6;
  --secondary-500: #D6C89F;
  --secondary-600: #D3C499;
  --secondary-700: #D0C29C;
  --secondary-800: #C2B48B;
  --secondary-900: #BAA981;
  /* Text */
  --text-400: #AFAFAC;
  --text-500: #8A8A88;
  --text-600: #5F5F5C;
  --text-700: #3E3E3B;
  --text-800: #282826;
  --text-900: #1B1F23;
  /* Background */
  --bg-50: #FDFDFC;
  --bg-100: #F5F5F4;
  --bg-200: #E5E5E3;
  --bg-300: #D4D4D2;
  /* Alert */
  --alert: #B00300;
  --green: #357B47;
}

/* Primary */
.bg-primary-1 {
  background-color: var(--primary-1);
}

.bg-secondary-1 {
  background-color: var(--secondary-1);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.bg-primary-300 {
  background-color: var(--primary-300);
}

.bg-primary-400 {
  background-color: var(--primary-400);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.bg-primary-600 {
  background-color: var(--primary-600);
}

.bg-primary-700 {
  background-color: var(--primary-700);
}

.bg-primary-800 {
  background-color: var(--primary-800);
}

.bg-primary-900 {
  background-color: var(--primary-900);
}

.text-primary-1 {
  color: var(--primary-1);
}

.text-primary-100 {
  color: var(--primary-100);
}

.text-primary-200 {
  color: var(--primary-200);
}

.text-primary-300 {
  color: var(--primary-300);
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-primary-500 {
  color: var(--primary-500);
}

.text-primary-600 {
  color: var(--primary-600);
}

.text-primary-700 {
  color: var(--primary-700);
}

.text-primary-800 {
  color: var(--primary-800);
}

.text-primary-900 {
  color: var(--primary-900);
}

/* Secondary */
.bg-secondary-1 {
  background-color: var(--secondary-1);
}

.bg-secondary-100 {
  background-color: var(--secondary-100);
}

.bg-secondary-200 {
  background-color: var(--secondary-200);
}

.bg-secondary-300 {
  background-color: var(--secondary-300);
}

.bg-secondary-400 {
  background-color: var(--secondary-400);
}

.bg-secondary-500 {
  background-color: var(--secondary-500);
}

.bg-secondary-600 {
  background-color: var(--secondary-600);
}

.bg-secondary-700 {
  background-color: var(--secondary-700);
}

.bg-secondary-800 {
  background-color: var(--secondary-800);
}

.bg-secondary-900 {
  background-color: var(--secondary-900);
}

.text-secondary-1 {
  color: var(--secondary-1);
}

.text-secondary-100 {
  color: var(--secondary-100);
}

.text-secondary-200 {
  color: var(--secondary-200);
}

.text-secondary-300 {
  color: var(--secondary-300);
}

.text-secondary-400 {
  color: var(--secondary-400);
}

.text-secondary-500 {
  color: var(--secondary-500);
}

.text-secondary-600 {
  color: var(--secondary-600);
}

.text-secondary-700 {
  color: var(--secondary-700);
}

.text-secondary-800 {
  color: var(--secondary-800);
}

.text-secondary-900 {
  color: var(--secondary-900);
}

/* Text */
.text-100 {
  color: var(--text-100);
}

.text-200 {
  color: var(--text-200);
}

.text-300 {
  color: var(--text-300);
}

.text-400 {
  color: var(--text-400);
}

.text-500 {
  color: var(--text-500);
}

.text-600 {
  color: var(--text-600);
}

.text-700 {
  color: var(--text-700);
}

.text-800 {
  color: var(--text-800);
}

.text-900 {
  color: var(--text-900);
}

/* Background */
.bg-50 {
  background-color: var(--bg-50);
}

.bg-100 {
  background-color: var(--bg-100);
}

.bg-200 {
  background-color: var(--bg-200);
}

.bg-300 {
  background-color: var(--bg-300);
}

/* alert */
.text-alert {
  color: var(--alert);
}

.border-alert {
  border-color: var(--alert);
}

/* green */

.bg-green {
  background-color: var(--green);
}

.text-green {
  color: var(--green);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: var(--color-main);
  --color-secondary: var(--color-secondary);
  --color-main-light: var(--color-main-light);

  --color-secondary-light: var(--color-secondary-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body,
h1,
p,
h2,
h3,
h4,
h5,
h6,
div,
span {
  font-family: 'Montserrat' !important;
}

.bg-main {
  background-color: var(--color-main);
}

.bg-main-light {
  background-color: var(--color-main-light);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.text-main {
  color: var(--color-main);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.border-main {
  border-color: var(--color-main);
}

.border-secondary-light {
  border-color: var(--color-secondary-light);
}

.rdp-root {
  --rdp-accent-color: var(--color-main) !important;
  --rdp-selected-border: 8px 0px 0px 8px !important;
  --rdp-day_button-border-radius: 8px 0px 0px 8px !important;
  --rdp-day_button-border: 1px !important;


}

.rdp-month_caption {
  justify-content: center !important;
}

.rdp-nav {
  display: none !important;
}

@keyframes pathPulse {
  0% {
    stroke-width: 4px;
    opacity: 0.9;
  }

  100% {
    stroke-width: 6px;
    opacity: 1;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d0c29c;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.mask-video {
  -webkit-mask-image: url('/videos/mask.webp');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  mask-image: url('/videos/mask.webp');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}

input[type='number'].custom-number-input::-webkit-inner-spin-button,
input[type='number'].custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'].custom-number-input {
  -moz-appearance: textfield;
}

.rdp-weekday {
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 12px;
  color: #7B827E;
  text-align: center;
}

.rdp-months {
  display: block;
}

.rdp-month {
  width: 100%;
}

@media (min-width: 768px) {
  .rdp-months {
    display: flex;
    gap: 4rem;
  }

  .rdp-month {
    width: auto;
  }
}

.rdp-table {
  table-layout: fixed;
  width: 100%;
}

.rdp-day {
  width: 100%;
  aspect-ratio: 1 / 1;
  text-align: center;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.rdp-day:not(.rdp-day_outside) {
  margin: 2px;
}

.rdp-month_grid {
  width: 100% !important;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.3s ease-in-out;
}

.slick-track {
  transition: transform 1.5s ease-in-out !important;
}

.clip-arrow {
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 50%, calc(100% - 12px) 100%, 0 100%);
}

.clip-end {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@layer utilities {
  .shadow-summary {
    box-shadow:
      0px 0px 1px rgba(33, 37, 41, 0.32),
      0px 4px 6px rgba(33, 37, 41, 0.20);
  }
}

input:focus {
  border-color: var(--primary-1) !important;
  outline: none;

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
input::selection {
  background-color: var(--color-main);
  color: white;
}

/* Hide number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}